body {
    font-family: 'Gotham';
    margin: 0 auto;
    width: 9000px;
    height: 935px;
    cursor: none;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    text-align: right;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: right;

}

  a {
    cursor: none;
}

#maincontainer {
    width: 980px;
    height: 935px;
    float: right;
    margin: 0 auto;
}

#intro-img-div {
    width: 540px;
    height: 540px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    float: right;
}

#intro-img {
    width: 540px;
    height: auto;
    margin-right: 100px;
    float: right;
    z-index: 5;
    transition: all .2s ease-in-out; 

}

#intro-img:hover {
    width: 540px;
    height: auto;
    margin-right: 100px;
    float: right;
    transform: scale(1.05);

}

#arrow-img {
    width: 450px;;
    height: auto;
    float: center;
    transition: all .2s ease-in-out; 
}

#arrow-img:hover {
    width: 450px;;
    height: auto;
    float: center;
    transform: scale(1.05); 
}

#welcome-container {
    width: 1200px;
    margin: 50px 200px 0px 0px;
    height: auto;
    float: right;
}

#welcome-title {
    font-size: 50px;
    font-weight: 800;
    color: rgb(135, 135, 135);
    margin: 100px 100px 0px 0px;
    float: right;
    text-align:right;
}

#welcome-sub-title {
    font-size: 40px;
    font-weight: 800;
    color: rgba(36, 36, 36, 0.865);
    margin: 0px 0px 20px 0px;
    float: right;
    text-align:right;
}

#welcome-text {
    font-size: 25px;
    margin: 130px 100px 0px 0px;
    float: right;
    text-align:right;
}

strong {
    font-weight:500;
}

#welcome-img {
    width: 540px;
    height: 540px;
    float: center;
    position: absolute;
    width: 1400px;
    height:auto;
    opacity: 0.2
}

.spacer {
    float: right;
    width:100px;

}

#transition-container {
    width: 540px;
    height: auto;
    float: right;
}

#transition-elements {
    width: 600px;
    z-index: 4;
    margin-top: 360px;
    margin-right:-300px;
    height: auto;
    float: right;
}

#pub-crawl-container {
    width: 600px;
    height: auto;
    margin: 75px -100px 0px 100px;
    float: right;
}

#pub-crawl-png {
    z-index: 1; 
    width: 540px;
    float: right;
    position: absolute;
    transition: all .2s ease-in-out; 

}

#pub-crawl-png:hover {
    position: absolute;
    transform: scale(1.03);
}

#beer {
    transition: all .2s ease-in-out; 
    width: 255px;
    margin: 75px 25px 0px 0px;
    position: relative;
    z-index: 4;
    height: auto;
}

#beer:hover {
	position:relative;
	transform: scale(1.03);
}

#senso-spazio-container {
    width: 800px;
    height: auto;
    margin: 30px -100px 0px 100px;
    float: right;
}

#senso-spazio-png {
    z-index: 0; 
    width: 540px;
    margin:0px auto;
    float: right;
    position: absolute;
    transition: all .2s ease-in-out;
}

#senso-spazio-png:hover {
    position: absolute;
    transform: scale(1.03);
}

#buddha {
    width: 500px;
    margin:175px 0px 0px;
    padding-bottom: 0px;
    position: relative;
    z-index: 4;
    height: auto;
    transition: all .2s ease-in-out; 
}

#buddha:hover {
    position: relative;
    transform: scale(1.03);
}

#topo-swim-container {
    width: 800px;
    height: auto;
    margin: 0px -100px 0px 100px;
    float: right;
}

#topo-swim-png {
    z-index: 4; 
    width: 540px;
    margin: 50px 0px 0px 100px;
    float: right;
    position: absolute;
    transition: all .2s ease-in-out; 
}

#topo-swim-png:hover {
    position: absolute;
    transform: scale(1.03);
}

#topo-swim-bear {
    width: 500px;
    margin:275px 250px 0px 0px;
    padding-bottom: 0px;
    position: relative;
    z-index: 0;
    height: auto;
    transition: all .2s ease-in-out; 
}

#topo-swim-bear:hover {
    position: relative;
    transform: scale(1.03);
}

#glass-house-container {
    width: 800px;
    height: auto;
    margin: 0px -50px 0px 100px;
    float: right;
}

#glass-house-png {
    margin: 50px 0px 0px 100px;
    z-index: 4; 
    width: 540px;
    float: center;
    position: absolute;
    transition: all .2s ease-in-out; 
}

#glass-house-png:hover {
    position: absolute;
    transform: scale(1.03);
}

#glass-house-cup-png {
    width: 355px;
    margin: 400px 0px 0px 120px;
    position: relative;
    z-index: 5;
    height: auto;
    transition: all .2s ease-in-out; 
}

#glass-house-cup-png:hover {
    position: relative;
    transform: scale(1.03); 
}
    
#end-elements-container {
    z-index: 0;
    width: 1850px;
    right:300px;
    height: auto;
    float: right;
    padding-bottom:0;
    position: relative;
}

#end-elements-png {
    width: auto;
    height:910px;
    float: left;
}

#contact-container {
    width: auto;
    float: right;
    height:auto;
    margin: 0px 100px 0px 0px;
}

#phone-container {
    z-index: 1;
    width: 540px;
    height: 600px;
    float: left;
    margin: 100px 0px 0px 90px;
    position: absolute;
    transition: all .2s ease-in-out; 
    background-color: linear-gradient(35deg, #f700ffc4, #00b3ff);

}

#phone-container:hover {
    position: absolute;
    transform: scale(1.07);
    background-color: linear-gradient(35deg, #f700ffc4, #00b3ff);

}

#phone {
    float: right;
    margin: 10px;
    width: 330px;
}

#contact-container {
    z-index: 5;
    margin: 70px 0px 100px 0px;
    position:absolute;
    height:auto;
    width:300px;
}

#contact {
    z-index: 5;
    left: 125px;
    top: 150px;
    position:absolute;
    height:auto;
    width:500px;
}

#submit {
    z-index: 5;
    top: 30px;
    height: 74.61px;
    border: 2px solid rgb(0, 179, 255);
    border-radius: 50%;
    background: transparent;

}

#contact-form {
    z-index: 5;
    position:absolute;
    height:auto;
    width:500px;
    float: right;
    margin: 20px 0px  0px 100px;
}

#closed-menu {
    position:fixed;
    z-index: 6;

}

#open-menu {
    z-index: 3;
}

#mbo {
    top: 200px;
    padding-bottom: 0;
    width: 300px;
    height: auto;
    position: relative;
    float: left;
}

#mbo-img {
    width: 215px;
    height: auto;
    position: relative;
    float: right;

}


/* 
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

nav{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  display:none;
  
  ul{
    list-style:none;
    
    li{
      font-family: 'Montserrat', sans-serif;
      font-weight:700;
      text-transform:uppercase;
      line-height:2;
      letter-spacing:1pt;
      font-size:2em;
      color:#09203f;
      animation:fadeDown .5s forwards;
      opacity:0;
      cursor:pointer;
      transform:translateY(-20px);
      transition:all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      
      &:hover{
        text-shadow:2px 1px 40px rgba(#000, 0.5);
        opacity:.8;
      }
      
      @for $i from 1 through 3{
        
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.1 + 0.7}s;
        }
      }
    }
  }
  
  #nav-close{
    position:fixed;
    top:40px;
    right:40px;
    font-size:1.5em;
    cursor:pointer;
    animation:fadeDown .5s forwards;
    animation-delay:1.1s;
    opacity:0;
    color:#09203f;
    transform:translateY(-20px);
  }
  
  @keyframes fadeDown{
    0%{
      opacity:0;
      transform:translateY(-20px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
}