@charset "UTF-8";
body {
  margin: 0px;
  height: 100vh;
  cursor: none;
}
  
nav{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  display:none;
  
  ul{
    list-style:none;
    
    li{
      font-family: 'Montserrat', sans-serif;
      font-weight:700;
      text-transform:uppercase;
      line-height:2;
      letter-spacing:1pt;
      font-size:2em;
      color:#09203f;
      animation:fadeDown .5s forwards;
      opacity:0;
      cursor:pointer;
      transform:translateY(-20px);
      transition:all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      
      &:hover{
        text-shadow:2px 1px 40px rgba(#000, 0.5);
        opacity:.8;
      }
      
      @for $i from 1 through 3{
        
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.1 + 0.7}s;
        }
      }
    }
  }
  
  #nav-close{
    position:fixed;
    top:40px;
    right:40px;
    font-size:1.5em;
    cursor:pointer;
    animation:fadeDown .5s forwards;
    animation-delay:1.1s;
    opacity:0;
    color:#09203f;
    transform:translateY(-20px);
  }
  
  @keyframes fadeDown{
    0%{
      opacity:0;
      transform:translateY(-20px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
}
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #00b3ff;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alter;
          animation: cursorAnim .5s infinite alter;
  z-index: 6;
}

.cursor::after {
  content: “”;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid #595959;
  border-radius: 50%;
  opacity: 1;
  top: -8px;
  left: -8px;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0%;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0%;
  }
}

.expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: px solid #595959;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: #333;
  text-decoration: none;
}

.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.open:hover {
  opacity: 0.8;
}

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: rgba(0, 179, 255, 0.687);
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) {
  margin-top: 25px;
}

.open span:nth-child(3) {
  margin-top: 40px;
}

.sub-menu {
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 179, 255, 0.687);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child {
  margin-top: 180px;
}

.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}

.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}

.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}

.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}

.sub-menu li a {
  color: #333;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) {
  overflow: visible;
}

.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
          transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: #595959;
}

.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
          transform: rotate(-45deg) translateY(-10px) translateX(10px);
}

.oppenned li {
  margin-right: 168px;
}

.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #FFF;
  border-radius: 3px;
  border: 2px solid #595959;
  overflow: hidden;
  position: relative;
}

.button:after {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  -webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
          transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #595959;
  z-index: 1;
}

.button:before {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.button:hover {
  text-decoration: none;
}

.button:hover:after {
  -webkit-transform: translateX(-300px) translateY(-100px);
          transform: translateX(-300px) translateY(-100px);
}

.button:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  display:none;
  
  ul{
    list-style:none;
    
    li{
      font-family: 'Montserrat', sans-serif;
      font-weight:700;
      text-transform:uppercase;
      line-height:2;
      letter-spacing:1pt;
      font-size:2em;
      color:#09203f;
      animation:fadeDown .5s forwards;
      opacity:0;
      cursor:pointer;
      transform:translateY(-20px);
      transition:all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      
      &:hover{
        text-shadow:2px 1px 40px rgba(#000, 0.5);
        opacity:.8;
      }
      
      @for $i from 1 through 3{
        
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.1 + 0.7}s;
        }
      }
    }
  }
  
  #nav-close{
    position:fixed;
    top:40px;
    right:40px;
    font-size:1.5em;
    cursor:pointer;
    animation:fadeDown .5s forwards;
    animation-delay:1.1s;
    opacity:0;
    color:#09203f;
    transform:translateY(-20px);
  }
  
  @keyframes fadeDown{
    0%{
      opacity:0;
      transform:translateY(-20px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
}

/*# sourceMappingURL=style.css.map */
